.sidebar__wrapper {
  padding: 1rem 1.5rem;
  max-width: 200px;
  overflow: hidden;
}

.sidebar__nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.9rem 0;
  p {
    font-size: 1rem;
  }
}

.sidebar__wrapper {
  a {
    color: white;
  }
  border-right: 1px solid #e6e6e6;
  min-height: 100vh;
  background-color: var(--blue);
}

.sidebar__header-logo {
  img {
    width: 100%;
    padding: 1rem 0;
  }
}
